{# Inherit base.html #}
{% extends 'base.html' %}

{# Load 3rd party tags for forms #}
{% load crispy_forms_tags %}

{# Content Block #}
{% block content %}
    {# Bootstrap row and column magic to get responsive site #}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>About Us</h1>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
            <p>About Page</p>
        </div>
    </div>
{% endblock %}