{# Inherit base.html #}
{% extends 'base.html' %}

{# Load 3rd party tags for forms #}
{% load crispy_forms_tags %}

{# Content Block #}
{% block content %}
    {# Bootstrap row and column magic to get responsive site #}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {# Show title if it exists #}
            {% if title %}
                <h1 {% if title_align_center %}class="text-align-center"{% endif %}>{{ title }}</h1>
            {% endif %}

            {# CSRF token added to give some security #}
            <form method="POST" action="">{% csrf_token %}

                {# Render our custom form. |crispy loads crispy_forms to our form #}
                {{ form|crispy }}

                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}