<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try Django 1.8 Tutorial</title>
</head>
<body>
    <h1>{{ title }}</h1>

    {% comment these show that you can access username without adding it to context %}
    {{ user }}
    {{ request.user }}
    {% endcomment %}

    {# CSRF token added to give some security #}
    <form method="POST" action="">{%  csrf_token %}

        {# Render our custom form. .as_p formats our form in parahraphs #}
        {{ form.as_p }}

        <input type="submit" value="Sign Up">
    </form>

</body>
</html>