{# Inherit the base.html -template #}
{% extends 'base.html' %}

{# Load 3rd party tags for forms #}
{% load crispy_forms_tags %}

{# Header Title block #}
{% block head_title %}
    Welcome |
{% endblock %}

{# CSS Block #}
<style>
    {% block style %}
        {# When Jumbotron shows, take the nav-bar bottom margin off #}
        .navbar-own-static-top {
            margin-bottom: 0px !important;
        }

        {# When Jumbotron shows, take right margin off #}
        .row {
            margin-right: 0px !important;
        }
    {% endblock %}
</style>

{# Block for Jumbotron #}
{% block jumbotron %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            {# Bootstrap row and column magic to get responsive site #}
            <div class="row">
                <div class="col-sm-6">
                    <h1>Try Django 1.8 Tutorial</h1>
                    <p>This is Django 1.8 "The MVP Landing project" tutorial. This Tutorial goes over the very basic
                        but fundamental things and concepts. Be sure to try it out!</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
                    </p>
                </div>
                {# Div for video ... #}
                <div class="col-sm-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLEsfXFp6DpzRcd-q4vR5qAgOZUuz8041S" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

{% endblock %}

{# Make block that shows in base.html -template block #}
{% block content %}
    <div class="row">
        <div class="col-sm-3 pull-right">
            <p class="lead text-align-center">{{ title }}</p>

            {% comment these show that you can access username without adding it to context %}
            {{ user }}
            {{ request.user }}
            {% endcomment %}

            {# CSRF token added to give some security #}
            <form method="POST" action="">{% csrf_token %}

                {# Render our custom form. .as_p formats our form in parahraphs #}
                {{ form|crispy }}

                <input class="btn btn-primary" type="submit" value="Sign Up">
            </form>
        </div>
        <div class="col-sm-3">
            <p class="lead text-align-center">Have fun with Django &amp; Bootstrap</p>
        </div>
        <div class="col-sm-3">
            <p class="lead text-align-center">Tutorial for beginners of any kind.</p>
            <i class="fa fa-bolt"></i>
        </div>
        <div class="col-sm-3">
            <p class="lead text-align-center">Open Source - Always</p>
        </div>
    </div>

{% endblock %}